@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Noto Sans", sans-serif;
}

nav {
    padding: 0 15px;
    display: flex;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    top: 0;
    left: -18px;
    width: 100%;
    background-color: #fff;
    padding: 0px 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.logo {
    width: 140px;
    margin-left: 40px;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links a {
    text-decoration: none;
    color: black;
    font-size: 16px;
    transition: 0.3s;
}

.nav-links a:hover {
    background-color: #d8d8d8;
    padding: 10px;
    border-radius: 25px;
    transition: 0.3s;
}

.btn-download {
    background-color: black;
    color: white;
    height: 50px;
    width: 20vw;
    border-radius: 40px;
    border: none;
    margin-right: 20px;
    font-size: 18px;
    cursor: pointer;
    transition: 0.3s;
    font-weight: bold;
}

.btn-download:hover {
    background-color: white;
    color: black;
    border: 1px solid black;
    font-size: 20px;
}

.container {
    background-color: red;
}

.blog-container {
    width: 80%;
    margin: 40px auto;
}

.blog-container h1 {
    font-size: 50px;
    font-weight: 300;
    color: rgb(51, 51, 51);
    margin: 120px 0;
}

.blog-cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 50px;
}

.blog-card {
    height: 800px;
    background: white;
    border-radius: 10px;
    overflow: hidden;
    width: 100%;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.blog-card img {
    width: 100%;
    height: 200px;
}

.blog-card .date {
    font-size: 12px;
    font-weight: 300;
    color: rgb(134, 134, 134);
    padding: 5px 20px;
}

.blog-card h2 {
    font-size: 18px;
    font-weight: 600;
    color: black;
    padding: 5px 20px;
}

.blog-card .content {
    font-size: 14px;
    font-weight: 300;
    color: rgb(134, 134, 134);
    padding: 40px 20px;
}

@media (max-width: 1024px) {
    .container {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .text-content, .images {
        width: 100%;
    }
    .nav-links {
        display: none;
    }
}

@media (max-width: 768px) {
    .blog-container h1 {
        font-size: 35px;
    }
    .blog-cards {
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    }
    .btn-download {
        width: 100%;
    }
}

@media (max-width: 480px) {
    .logo {
        width: 100px;
        margin-left: 10px;
    }
    .blog-container h1 {
        font-size: 30px;
    }
    .btn-download {
        font-size: 16px;
        height: 40px;
        width: 100%;
    }
}