@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Noto Sans", sans-serif;
}

body {
    overflow-x: hidden;
    width: 100vw;
}

nav {width: 100vw;
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 140px;
    margin-left: 40px;

}

.nav-links {
    list-style: none;
    display: flex;
    padding: 0 60px;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    transition: 0.3s;
}

.nav-links a:hover {
    background-color: #d8d8d8;
    padding: 10px;
    border-radius: 25px;
    transition: 0.3s;
}


.bg {
    height: 66vh;
    margin-left: 2vw;
    width: 100%;
    background-image: url("https://rapido-app-assets.storage.googleapis.com/66e1052cdca1e68cc52d070e8c9631aa_1736774712641.png");
}

.bg h1 {
    font-size: 48px;
    font-weight: 700;
    color: rgb(51, 51, 51);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 60px;
    margin-top: 30px;
    padding: 65px;
}

.input-container {
    margin-bottom: 15px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-container input {
    width: 40vw;
    height: 40px;
    padding: 12px 12px 12px 40px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 16px;
    outline: none;
}

.input-container svg {
    width: 720px;
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    height: 30px;
    fill: black;
}

.btn {
    background-color: rgb(255, 200, 0);
    margin-bottom: 15px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44vw;
    height: 60px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 28px;
    font-size: bolder;
    font-weight: 700;
    left: 350px;
    margin-top: 40px;
    cursor: pointer;
}

.services {
    font-size: 48px;
    font-weight: 700;
    color: rgb(51, 51, 51);
    display: block;
    width: 100%;
    padding-top: 80px;
    padding-left: 50px;
}

.line {
    width: 100px;
    height: 5px;
    background-color: rgb(255, 200, 0);
    margin-top: 10px;
    left: 50px;
}

.images {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding-bottom: 60px;
}

.img2 {
    padding-left: 90px;
}

.images .images-item img {
    padding-top: 40px;
    height: 120px;
    width: 150px;
    padding: 30px 80px;
}

.images-item p {
    font-size: 22px;
    font-weight: 550;
    padding: 0px 90px;
}

.ride {
    background-color: rgb(244, 243, 243);
    display: flex;
}

.item {
    padding-left: 30px;
    margin-right: 60px;
}

.item p {
    font-size: 32px;
    font-weight: 400;
    padding: 0px 20px;
}

.ride img {
    height: 500px;
    width: 600px;
    padding-right: 90px;
    padding-top: 60px;
}

.safety {
    background-color: white;
    display: flex;
    width: 100vw;
    height: 100vh;
}

.safety img {
    height: 400px;
    width: 500px;
    padding-right: 90px;
    padding-top: 60px;
}

.btn1 {
    height: 60px;
    width: 200px;
    background-color: rgb(22, 22, 72);
    border-radius: 50px;
    border: none;
    color: white;
    margin: 30px 10px;
    font-size: 20px;
}

.download-section {
    text-align: center;
    background-color: black;
}

.download-section h1 {
    color: rgb(246, 247, 249);
    font-size: 48px;
    font-weight: 700;
    position: relative;
}

.apps-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
    margin-top: 10px;
}

.app {
    text-align: center;
}

.app img {
    width: 80px;
    height: auto;
    border-radius: 10px;
}

.app p {
    font-size: 28px;
    font-weight: 400;
    margin-top: 10px;
    color: rgb(255, 255, 255);
}

.media-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 40px 0;
}

.media img {
    width: 100px;
    height: 100px;
}

.footer {
    text-align: center;
    padding: 20px;
}

.footer-logo {
    width: 80px;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.footer-logo img {
    max-width: 150px;
}


.footer-menu {
    display: flex;
    justify-content: space-between;
    max-width: 1000px;
    margin: 0 auto;
}

.footer-column {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.footer-column a {
    text-decoration: none;
    color: black;
    margin: 5px 0;
}

.copyright {
    font-size: 16px;
    font-weight: 400;
    color: rgb(128, 128, 128);
    padding: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hamburger {
    display: none;
    font-size: 30px;
    background: none;
    border: none;
    cursor: pointer;
    position: relative;
    right: 0px;
    top: 15px;
}

@media (max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0;
        background: white;
        width: 100%;
        text-align: center;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    }

    .nav-links.active {
        display: flex;
    }

    .images {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
        padding-bottom: 100px;
        padding-top: 190px;
    }

    .bg {
        height: 83vh;
        width: 246vw;
    }

    .input-container input {
        width: 160vw;
        height: 46px;
        padding: 12px 12px 12px 40px;
        border: 1px solid #ccc;
        border-radius: 10px;
        font-size: 16px;
        outline: none;
    }

    .input-container svg {
        width: 339px;
        position: absolute;
        left: 10px;
        top: 45%;
        transform: translateY(-50%);
        height: 30px;
        fill: black;
    }

    .btn {
        background-color: rgb(255, 200, 0);
        margin-bottom: 15px;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 170vw;
        height: 60px;
        border: 1px solid #ccc;
        border-radius: 10px;
        font-size: 28px;
        font-size: bolder;
        font-weight: 700;
        left: 164px;
        margin-top: 40px;
        cursor: pointer;
    }

    .logo {
        width: 168px;
        margin-left: 100px;
    }

    .download-section {
        text-align: center;
        background-color: black;
        width: 105%;
    }

    .ride {
        width: 105%;
    }

    .hamburger {
        display: block;
        left: 600px;
        height: 50px;
        width: 50px;
    }

    .nav-links.active {
        display: flex;
        left: 600px;
    }
}